#header
{
background: pink;
text-align: center;
padding: 20px;	
}
#main
{
background: blue;
}
#footer
{
background: black;
color: white;
padding: 20px;
text-align: center;
}
#main p
}
{
background: white;
padding: 20px;
}